.site__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 320px;
    min-height: 100vh;
    background-color: #FFFFFF;
    box-shadow: 0 0 70px 0 #b1b1b1;
}

.main__menu {
    padding: 20px 0;
}

.menu__links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu__link--active {
    position: relative;
    padding: 25px 15px;
}

    .menu__link--active:hover::after, .navigation__link--active:focus::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 25%;
        width: 4px;
        height: 50%;
        color: #7E7E82;
        border-radius: 0 5px 5px 0;
        background-color: #41f6d6;
    }

.navigation__link--active:focus{
    color: #7E7E82;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    padding: 35px 25px;
}

.phoneNumber {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

label {
    line-height: 24px;
    font-weight: 500;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label{
    color: #7E7E82;
}