.body {
    font-family: TT Lakes;
    margin: 0;
    padding: 0;
}

.site__content {
    margin: 0 auto;
    max-width: 1120px;
    background-color: #F8F8F8;
}

.paragraph {
    margin: 0;
    padding: 0;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
}

.button {
    font-family: TT Lakes;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: none;
    align-items: center;
}

/* icon-navigation */
.icon-navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 18.6px 24px;
    align-items: center;
}

.icon {
}

.logo {
    display: block;
    margin-right: auto;
    width: 96.55px;
    height: 50.81px;
}

.leftDivider, .rightDivider {
    width: 2px;
    background: #EAEAEA;
    border-radius: 1px;
    margin: 4px 0;
}

.icon-navigation__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff3e79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
}

    .icon-navigation__button::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 50%;
        opacity: 0;
        transform: scale(0);
        transition: all 0.5s;
    }

    .icon-navigation__button:hover {
        transform: scale(1.2);
    }

        .icon-navigation__button:hover::before {
            opacity: 0.2;
            transform: scale(1);
        }

.icon-navigation__leftSide {
    display: flex;
    max-height: 40px;
    gap: 20px;
}

.icon-navigation__rightSide {
    display: flex;
    max-height: 40px;
    gap: 20px;
}

.icon-navigation__callChatProfile {
    display: flex;
    gap: 15px;
}

.icon-navigation__repairStatus {
    display: flex;
    gap: 15px;
}

/* page-title */

.decoration-highlight {
    position: relative;
}

.decoration-highlight::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 25%;
    width: 4px;
    height: 50%;
    border-radius: 0 5px 5px 0;
    background-color: #41f6d6;
}

.page-title {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.page-title__text {
    font-size: 28px;
}

.page-title__buttons {
    display: flex;
    gap: 30px;
}

.page-title__button {
    display: flex;
    gap: 10px;
    background: #F8F8F8;
    padding: 5px 5px;
    padding-left: 10px;
    margin: 10px 0;
}

.page-title__button:hover {
    background: #e1e3e6;
    border-radius: 20px;
}

.icon__text {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/* navigation */

.navigation {
    position: relative;
    padding-top: 0;
    padding-left: 40px;
}

.navigation::after {
    content: '';
    width: 45px;
    height: 100%;
    position: absolute;
    bottom: 10px;
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(248,248,248,1) );
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    row-gap: 10px;
    margin-bottom: 10px;
}

.navigation__item {
    font-size: 16px;
    white-space: nowrap;
    padding: 8px 17px;
    min-height: 25px;
}

 .navigation__item > .link {
     color: #7E7E82;
 }

.navigation__item:hover {
   background-color: #FFFFFF;
    outline: 2px solid #B8FFEC;
    outline-offset: -2px;
    border-radius: 5px;
}

.navigation__item:nth-child(6) {
    margin-right: auto;
}

.navigation__item--active {
    background-color: #FFFFFF;
    outline: 2px solid #B8FFEC;
    outline-offset: -2px;
    border-radius: 5px;
}



/* scrollbar */

    .scrollbar {
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    }

    .scrollbar::-webkit-scrollbar {
        height: 5px;
        background-color: #F8F8F8;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #F8F8F8;
    }

    /* main */
.main {
    margin-top: 10px;
    margin-bottom: auto;
    padding: 0 35px;
}

.article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
}

.article__info {
    flex-basis: 50%;
}

.article__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    height: 160px;
    overflow: hidden;
    margin-bottom: 5px;
}

.article__img {
    max-width: 100%;
    height: auto;
}

.article__button {
    display: flex;
    padding: 5px 10px 5px 0;
    background: #F8F8F8;
    font-weight: 500;
}

.article__button:hover {
    background: #e1e3e6;
    border-radius: 10px;
}