.body {
  font-family: TT Lakes;
  margin: 0;
  padding: 0; }

.paragraph {
  margin: 0;
  padding: 0;
  font-size: 14px; }

.paragraph > .link {
  font-size: 14px; }

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.link {
  text-decoration: none;
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0;
  cursor: pointer; }

input, textarea {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: TT Lakes;
  outline: 0;
  border: none; }

/* decorations */
.decoration-blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: 1; }

.decoration-pageShadow {
  background-color: rgba(248, 248, 248, 0.5);
  box-shadow: 0 0 70px 0 #b1b1b1; }

.decoration-colorGray {
  color: #7E7E82; }

.decoration-colorPink {
  color: #FF3E79; }

.decoration-highlight {
  position: relative; }

.decoration-highlight::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 4px;
  height: 50%;
  border-radius: 0 5px 5px 0;
  background-color: #41f6d6; }

.decoration-shadowRight {
  position: relative; }

.decoration-shadowRight::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 100%;
  top: 10px;
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, #f8f8f8);
  z-index: 5; }

.decoration-headerGradient {
  background: linear-gradient(to right, #F8F8F8, white); }

.decoration-arrow {
  position: relative; }

.decoration-arrow::after, .decoration-arrow::before {
  content: '';
  position: absolute;
  inset: 50%;
  width: 2px;
  height: 9px;
  background: #FF3E79; }

.decoration-arrow::before {
  transform: translateY(-7px) rotate(-45deg); }

.decoration-arrow::after {
  transform: translateY(-2px) rotate(45deg); }

.decoration-bottomLine {
  position: relative; }

.decoration-bottomLine::after {
  content: '';
  position: absolute;
  width: 94%;
  height: 2px;
  background: #EAEAEA;
  left: 3%;
  bottom: 0; }

/* icon-navigation */
.content {
  margin: 0 auto;
  max-width: 1120px;
  background-color: #F8F8F8;
  height: auto; }

.icon-navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #FFFFFF;
  padding: 18.6px 24px;
  align-items: center; }

.logo {
  width: 96.55px;
  height: 50.81px;
  margin-right: auto; }

.icon-navigation__leftSide {
  position: relative;
  display: flex;
  align-items: center;
  max-height: 40px;
  gap: 40px; }

.icon-navigation__leftSide::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  border-radius: 1px;
  left: 60px;
  top: 5px; }

.icon-navigation__rightSide {
  position: relative;
  display: flex;
  max-height: 40px;
  gap: 40px; }

.icon-navigation__rightSide::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  border-radius: 1px;
  left: 170px;
  top: 5px; }

.icon-navigation__callChatProfile {
  display: flex;
  gap: 15px; }

.icon-navigation__repairStatus {
  display: flex;
  gap: 15px; }

/* page-title */
.page-title {
  display: flex;
  justify-content: space-between;
  padding: 0 32px; }

.page-title__text {
  font-size: 28px; }

.page-title__buttons {
  display: flex;
  gap: 30px; }

.icon__text {
  font-weight: 500;
  margin: 0;
  padding: 0; }

/* navigation */
.link-navigation {
  padding-top: 0;
  padding-left: 32px; }

.link-navigation__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  row-gap: 10px;
  margin-bottom: 10px; }

.link-navigation__item {
  font-size: 16px;
  white-space: nowrap;
  padding: 8px 17px;
  min-height: 25px; }

.link-navigation__item > .link {
  color: #7E7E82; }

.link-navigation__item:hover {
  background-color: #FFFFFF;
  outline: 2px solid #B8FFEC;
  outline-offset: -2px;
  border-radius: 5px; }

.link-navigation__item:nth-child(6) {
  margin-right: auto; }

.link-navigation__item--active {
  background-color: #FFFFFF;
  outline: 2px solid #B8FFEC;
  outline-offset: -2px;
  border-radius: 5px; }

/* scrollbar */
.scrollbar {
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; }

.scrollbar::-webkit-scrollbar {
  height: 5px;
  background-color: #F8F8F8; }

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #F8F8F8; }

/* main */
.article {
  padding: 10px 35px;
  padding-bottom: 40px; }

.article__specification {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 35px; }

.article__specification__info {
  flex-basis: 50%; }

.article__specification__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 5px; }

.article__specification__img {
  max-width: 100%;
  height: auto; }

/* brends devices prices */
.title__text {
  margin: 16px 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

.prices-navigation__explanation {
  margin-top: 10px;
  margin-right: 15px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  max-width: 425px; }

.link__button-prices {
  font-size: 16px;
  font-weight: 500; }

.img-arrow {
  padding: 0 10px;
  transform: translateY(2px); }

.table__prices {
  margin-bottom: 30px;
  font-size: 14px;
  width: 100%;
  border-collapse: collapse; }

.tbody__prices {
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 5px; }

.row__prices > .cell-prices:first-child {
  padding-left: 30px; }

.row__prices > .cell-prices:last-child {
  padding-right: 30px;
  align-content: end; }

.content__footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px; }

.content__footer__item {
  width: 33%; }

.content__footer__item:last-child {
  text-align: end; }

/* sidebars */
.sidebar__menu {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 752px;
  height: 100vh;
  z-index: 1; }

.swiper-pagination-bullet {
  transform: translateY(-25px);
  width: 12px;
  height: 12px;
  background: #B5B6BC; }

/* sidebar-burger */
.sidebar__menu--burger {
  justify-content: space-between;
  width: 320px;
  left: 0; }

.main__menu {
  padding-top: 30px;
  margin-bottom: auto; }

.menu__links {
  display: flex;
  flex-direction: column;
  gap: 30px; }

.menu__link {
  position: relative;
  padding: 25px 15px; }

.menu__link--active {
  position: relative;
  padding: 25px 15px;
  color: #7E7E82; }

.menu__link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 4px;
  height: 50%;
  border-radius: 0 5px 5px 0;
  background-color: #41f6d6; }

.menu__link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 4px;
  height: 50%;
  border-radius: 0 5px 5px 0;
  background-color: #41f6d6; }

.menu__link:hover {
  color: #7E7E82; }

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 35px 25px; }

.phoneNumber {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px; }

.menu__language {
  display: flex;
  justify-content: flex-start;
  gap: 5px; }

.language__text {
  line-height: 24px;
  font-weight: 500; }

input[type="radio"] {
  display: none; }

input[type="radio"]:checked + label {
  color: #7E7E82; }

/* sidebar-call */
.sidebar__menu--call, .sidebar__menu--chat {
  position: absolute;
  right: 0;
  width: 500px;
  background: white; }

.sidebar__header {
  position: relative;
  background: white;
  padding: 0; }

.sidebar__header > .icon-button--close {
  position: absolute;
  top: 0;
  left: -90px;
  margin: 25px 15px; }

.sidebar__header > .page-title__text {
  margin: 0;
  padding: 25px 30px;
  height: 40px; }

.main__sidebar__menu {
  background: white;
  padding: 0 30px;
  font-weight: 500;
  display: flex;
  flex-flow: column;
  gap: 15px; }

.sidebar__menu__form {
  margin-top: 20px;
  display: grid;
  justify-content: stretch; }

.sidebar__menu__form > .swiper-navigation__item {
  width: 410px; }

.form__message {
  min-height: 120px; }

.sidebar__submit {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: transparent; }

/* modifiers */
.element--hide {
  display: none; }

.element-noScroll {
  height: 100vh;
  overflow: clip; }

/* media */
@media screen and (min-width: 1060px) {
  .body {
    display: grid;
    grid-template-columns: 320px minmax(500px, auto);
    justify-content: center; }
  .sidebar__menu--burger {
    position: sticky; }
  .icon-navigation > .icon-button--close {
    display: none; }
  .content__header .icon-navigation {
    display: none; }
  .link-navigation {
    padding: 0 32px; }
  .link-navigation__list {
    flex-wrap: wrap; }
  .link-navigation::after {
    display: none; }
  .body + .decoration-pageShadow {
    box-shadow: none; } }

@media screen and (max-width: 1060px) {
  .page-title__buttons {
    display: none; }
  .article {
    padding: 10px 25px;
    padding-bottom: 30px; }
  .article__specification {
    padding: 10px 25px;
    gap: 20px; }
  .page-title {
    padding-left: 25px; }
  .link-navigation {
    padding-left: 25px; }
  .link-navigation__list::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 90%, #f8f8f8 100%); } }

@media screen and (min-width: 760px) {
  .prices-navigation__container > .swiper {
    display: none; } }

@media screen and (max-width: 760px) {
  .article__brands > .article, .article__devices > .article, .article__prices > .article {
    padding-right: 0; }
  .table__prices {
    display: none; }
  .sidebar__header > .icon-button--close {
    position: relative;
    left: 0;
    margin: 25px 15px 0 15px; }
  .sidebar__header > .page-title__text {
    padding: 25px 15px;
    height: 40px; }
  .main__sidebar__menu {
    padding: 0 15px; }
  .sidebar__menu__form > .swiper-navigation__item {
    width: auto; } }

@media screen and (max-width: 530px) {
  .icon-navigation__rightSide > .icon-navigation__callChatProfile {
    display: none; }
  .icon-navigation__leftSide {
    gap: 15px; }
  .icon-navigation__leftSide::after {
    display: none; }
  .icon-navigation__rightSide::after {
    left: -17px; }
  .article {
    padding: 10px 15px;
    padding-bottom: 20px; }
  .article__specification {
    padding: 10px 0;
    flex-wrap: wrap; }
  .article__specification__info {
    padding: 0 15px;
    flex-basis: 100%; }
  .site__menu {
    width: 100%; }
  .icon-navigation {
    padding-left: 15px;
    gap: 15px; }
  .page-title {
    padding-left: 15px; }
  .link-navigation {
    padding-left: 15px; }
  .article__specification__text {
    line-height: 18px; }
  .article__specification__info > .navigation__list--hide {
    max-height: 90px; }
  .content__footer {
    flex-flow: column; }
  .content__footer__item {
    text-align: center;
    width: 100%;
    margin-top: 10px; }
  .content__footer__item:last-child {
    text-align: center; }
  .sidebar__menu--burger, .sidebar__menu--call, .sidebar__menu--chat {
    width: 100%; } }

.button {
  font-family: TT Lakes;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;
  cursor: pointer; }

/* round icon button */
.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF3E79;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #FF3E79 inset;
  width: 40px;
  height: 40px;
  transition: all 0.3s; }

.icon-button::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s; }

.icon-button:hover {
  transform: scale(1.2); }

.icon-button:hover::before {
  opacity: 0.2;
  transform: scale(1); }

/* page title button (screen 1120px) */
.page-title__button {
  position: relative;
  display: flex;
  gap: 10px;
  background: #F8F8F8;
  padding: 5px 5px;
  padding-left: 10px;
  margin: 10px 0; }

.page-title__button:hover {
  background: #e1e3e6;
  border-radius: 20px; }

/* article button*/
.article__button {
  display: flex;
  padding: 5px 10px 5px 30px;
  font-weight: 500;
  background: #F8F8F8 url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5001 7.50008L12.0001 10.0001L9.50008 7.50008C9.22393 7.22393 8.77622 7.22393 8.50008 7.50008C8.22393 7.77622 8.22393 8.22393 8.50008 8.50008L11.293 11.293C11.6835 11.6835 12.3167 11.6835 12.7072 11.293L15.5001 8.50008C15.7762 8.22393 15.7762 7.77622 15.5001 7.50008C15.2239 7.22393 14.7762 7.22393 14.5001 7.50008ZM14.5001 13.5001L12.0001 16.0001L9.50008 13.5001C9.22393 13.2239 8.77622 13.2239 8.50008 13.5001C8.22393 13.7762 8.22393 14.2239 8.50008 14.5001L11.293 17.293C11.6835 17.6835 12.3167 17.6835 12.7072 17.293L15.5001 14.5001C15.7762 14.2239 15.7762 13.7762 15.5001 13.5001C15.2239 13.2239 14.7762 13.2239 14.5001 13.5001Z' fill='%2341F6D7'/%3e%3c/svg%3e ") no-repeat 0 50%;
  border-radius: 10px; }

.article__button:hover {
  background-color: #e1e3e6; }

button-readMore:first-child {
  margin-top: 10px; }

/* link button*/
.link__button {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #FF3E79 inset;
  background-color: white;
  transition: all 0.3s; }

.link__button::after, .link__button::before {
  content: '';
  position: absolute;
  inset: 50%;
  width: 2px;
  height: 9px;
  background: #FF3E79;
  transition: all 0.3s 0.2s; }

.link__button::before {
  transform: translateY(-7px) rotate(-45deg); }

.link__button::after {
  transform: translateY(-2px) rotate(45deg); }

.link__button:hover, .link__button-order:hover {
  transform: scale(1.15); }

.link__button:hover::after {
  transform: translateX(3px) translateY(-2px) rotate(45deg); }

.link__button:hover::before {
  transform: translateX(3px) translateY(-7px) rotate(-45deg); }

/* link button-order */
.link__button-order {
  position: relative;
  justify-self: end;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 15px;
  width: 105px;
  height: 32px;
  border-radius: 18px;
  background: #ff3e79;
  transition: all 0.3s; }

.main__sidebar__menu > .link__button-order {
  min-width: 110px; }

.link__button-order::after, .link__button-order::before {
  content: '';
  position: absolute;
  inset: 50%;
  width: 2px;
  height: 8px;
  background: white;
  transition: all 0.3s 0.2s; }

.link__button-order::after, .link__button-order:hover::after {
  transform: translateX(40px) translateY(-2px) rotate(45deg); }

.link__button-order::before, .link__button-order:hover::before {
  transform: translateX(40px) translateY(-7px) rotate(-45deg); }

.element--hide {
  display: none; }

@media screen and (min-width: 1060px) {
  .page-title__button .icon-button:hover::before {
    display: none; }
  .page-title__button .icon-button:hover {
    transform: scale(1); } }

/* brends */
.swiper {
  position: relative;
  padding-bottom: 30px; }

.swiper-navigation__container {
  position: relative; }

.swiper-navigation__list {
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  justify-items: stretch; }

.swiper-navigation__list--mobile {
  grid-auto-flow: column;
  gap: 0; }

.navigation__list--hide {
  max-height: 160px;
  overflow: hidden; }

.swiper-navigation__item {
  display: grid;
  padding: 15px;
  width: 87%;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 5px; }

.brandes-navigation__item {
  grid-template-columns: 50% 50%;
  height: 40px; }

.brandes-navigation__item > .link__button {
  justify-self: end; }

.swiper-navigation__item--width {
  width: 220px; }

.swiper-navigation__item:hover, .swiper-navigation__item:focus {
  box-shadow: 0 0 3px 2px #e5e5e5; }

.swiper-pagination {
  position: absolute;
  transform: translateY(35px); }

/* devices */
.devices-navigation__item {
  grid-template-columns: 80% 20%;
  height: 125px; }

.devices-navigation__item > .link__button {
  justify-self: end;
  align-self: end; }

/* prices */
.prices-navigation__list {
  margin-bottom: 10px; }

.prices-navigation__item {
  color: #1B1C21;
  font-size: 14px;
  font-weight: 500;
  grid-template-columns: 40% 60%;
  grid-template-areas: "service service" "price price" "time link__button";
  align-items: end;
  height: 165px; }

.service {
  grid-area: service;
  align-self: start; }

.price {
  grid-area: price;
  align-self: center; }

.time {
  grid-area: time; }

.link__button-order {
  grid-area: link__button; }

@media screen and (max-width: 1200px) {
  .swiper-navigation__list {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 1060px) {
  .swiper-navigation__list {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 760px) {
  .swiper-navigation__list {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 530px) {
  .swiper-navigation__container {
    padding-top: 20px;
    padding-bottom: 20px; } }

/* fonts */
@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.eot);
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }


/*# sourceMappingURL=style.css.map*/